images/

*.zip
*.tar

semseg/exp
semseg/lib
semseg/figure
semseg/summary/
semseg/initmodel
semseg/config/voc2012

*/__pycache__/
semseg/dataset/voc2012/*

semseg/dataset/target/image/
semseg/dataset/target/json/
semseg/dataset/target/label/
semseg/dataset/target/label-1/


semseg/*.md
semseg/LICENSE
*core*
*ade20k*
*cityscapes*
*voc2012*

*psanet*

## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# QtCreator files
*.user

# PyCharm files
.idea

# Visual Studio Code files
.vscode

# OSX dir files
.DS_Store

# personal
*.log
*.pth
*.caffemodel

__pycache__/
# data/

*.png
*.jpg
*.log
*.pth
events*

*.ninja_deps
*.ninja_log
*.ninja
*.yaml
slurm*
